html,
body {
  margin: 0;
  padding: 0;
  // background-color: black;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: .9em;
}

.App {
  margin: 0 auto;
  background-color: white;
}
.App-Content {
  width: 600px;
  margin: 0 auto;
  padding: 1em;
}
.controls {
  margin: 2em 0;
  display: flex;
  justify-content: space-between;
}
.search-bar {
  width: 100%;
}
.default-banner {
  height: 55px;
  width: 100%;
  background-color: purple;
}
.channel {
  padding: 1em 0;

  h2 {
    margin: 0;

    a {
      text-decoration: none;
      color: green;
    }
  }
}
.channel-avatar {
  margin: 0 .75em 0 0;
}
.channel-avatar img {
  width: 100px;
}
.cursor {
  cursor: pointer;
}